@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

.card {
  height: 100%;
}

.card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700 !important;
  font-size: 175% !important;
}

.card-title.h5 {
  display: grid;
  justify-content: center;
}

.card-subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 300 !important;
  font-size: 140% !important;
  text-transform: uppercase;
}
/* From GetThatBread */

.attribute-card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 500 !important;
  font-size: 175% !important;
}

.carousel {
  height: 500px;
  width: auto;
}

.carousel-image {
  max-height: 500px;
}

.customLink {
  color: blue;
}

.customLink:hover {
  color: blue;
  text-decoration: underline;
}

