.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    height: 180px;
    overflow-y: scroll;
}

.dropdowns {
    display: flex;
    align-items: center;
    justify-content: center;
}