.bg-color {
    background-image: linear-gradient(#FFE17E, #FFCF32, #FFE17E);
}

.background-gradient {
    background-image: linear-gradient(#FFE17E, #FFCF32, #FFE17E);
}

.btn-primary {
    color: #000;
    background-image: linear-gradient(#FFE17E, #FFCF32, #FFE17E);
    border-color: #000;
}

.primary.dropdown-toggle {
    color: #000;
    background-image: linear-gradient(#FFE17E, #FFCF32, #FFE17E);
    border-color: #000;
}

.dropdown-menu {
    background-color: none;
}