@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

/* .title-card {
  align-self: auto;
  width: auto;
  min-height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  margin: 0%;
} */

.title {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 300% !important;
  font-size: 250% !important;
  margin-bottom: 0%;
  height: 10px;
} 


.card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 100 !important;
  font-size: 100% !important;
  margin-bottom: 5px;
}

.card-subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 100 !important;
  font-size: 100% !important;
  text-transform: none;
  margin-bottom: 3px;
}

.card-text {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;
} 

.space {
  height: 50px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:rgb(55, 55, 190);
}

.resultsCount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand {
  transition: transform .4s;
}

.expand:hover {
  transform: scale(1.1)
}