.background-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 5vh;
}

.about-us-card {
  display: flex;
  flex: 0 1 auto;
  align-self: auto;
  width: 200vh;
  min-height: auto;
  margin-bottom: 5vh;
  align-items: center;
  text-align: center;
}

.member-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5vh;
}

.member-card {
  display: flex;
  flex: 0 1 auto;
  align-self: auto;
  width: 50vh;
  min-height: auto;
  align-items: center;
  text-align: center;
  margin: 5vh;
  transition: transform .4s;
}

.member-card:hover {
  transform: scale(1.10)
}
