@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

/* .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5vh;
} */

.title-card {
  align-self: auto;
  width: auto;
  min-height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5vh;
  border: none;
}

.card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 500 !important;
  font-size: 175% !important;
  margin-bottom: 10px;
}

.card-subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 250 !important;
  font-size: 125% !important;
  text-transform: none;
  margin-bottom: 10px;
}

.card-text {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;

}
/* From GetThatBread */

.attribute-card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 500 !important;
  font-size: 175% !important;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:midnightblue;
}
