/* Based off of code from GetThatBread repository: https://gitlab.com/Nathaniel-Nemenzo/getthatbread/-/blob/main/frontend/getthatbread/src/components/card/card.css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

.card {
  height: 100%;
}

.card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700 !important;
  font-size: 175% !important;
}

.card-subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 300 !important;
  font-size: 140% !important;
  text-transform: uppercase;
}

.attribute-card-title {
  font-family: "Nunito", sans-serif;
  font-weight: 500 !important;
  font-size: 175% !important;
}

.carousel {
  height: 500px;
  width: auto;
}

.carousel-image {
  max-height: 500px;
}