/* Code inspired by GitLab Project: AnimalWatch */

.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.home-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  filter: brightness(80%);
  z-index: -1;
  background-size: cover;
}

.text-place {
  font-family: "Nunito", sans-serif;
  font-weight: 500 !important;
  font-size: 400% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Taken from https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html */
.text-place .multicolortext {
  background-image: linear-gradient(black, gray, white, gray, black);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
  
.button-place {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: aliceblue;
}

.img {
  border-radius: 50%;
}

.bottom-div {
  background-image: linear-gradient(#0077B6, #90E0EF);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 100%;
  height: max(50vh, 100% + 30vh);
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.splash-card {
  margin-bottom: 3vw !important;
  margin-top: 0vw !important;
}

.center-justified {
  margin-bottom: 0;
}

.text-center.splash-card.card {
  transition: transform .3s;
  margin-bottom: 5vw !important;
  margin-top: 5vw !important;
}

.text-center.splash-card.card:hover {
  transform: scale(1.10);
}